@page
@model Tutor_Appointments_Core_Web_App.Pages.Appointments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Appointments</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Tutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].AppointmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Appointment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tutor.TutorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                <a class="btn btn-primary"  asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-primary"  asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-primary"  asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
