@page
@model Tutor_Appointments_Core_Web_App.Pages.Tutors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Tutors</h1>

<p>
    <a class="btn btn-primary"  asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tutor[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor[0].TutorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor[0].Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor[0].Faculty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tutor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.Name)
            </td>
            <td>
                <a class="btn btn-primary"  asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-primary"  asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-primary"  asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
